body{
  background-color: blanchedalmond;
}

h1, h2{
  text-align: center;
}

h2#jogada{
  margin:50px 0;
  color: red;
  font-size: 22px;
}

h3#movescount{
  text-align: center;
  font-size: 20px;
}

div{
  box-sizing: border-box;
}

div#main{
  width: 100%;
  max-width: 550px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 80px auto 0;
}

div.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.towers{
  height: 160px;
  width: 20px;
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

div.disc{
  height: 20px;
  border: solid 2px black;
  border-radius: 8px;
}

div#xbig{
  background-color: #b84644;
  width: 80px;
}

div#big{
  background-color: #91b250;
  width: 70px;
}

div#medium{
  background-color: #755998;
  width: 60px;
}

div#small{
  background-color: #4576b5;
  width: 50px;
}

div.button{
  display: flex;
  justify-content: center;
}

button#reset{
  padding: 15px 100px;
  border: none;
  border-radius: 8px;
  background-color: #f1c27c;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  color: red;
}

@media screen and (min-width:765px){
  div#main{
    width: 100%;
    max-width: 900px;
    min-width: 700px;
    margin: 100px auto 0;
  }

  h2#jogada{
    font-size: 30px;
  }

  div.towers{
    height: 300px;
    width: 25px;
  }

  div.disc{
    height: 40px;
  }

  div#xbig{
    width: 220px;
  }

  div#big{
    width: 170px;
  }

  div#medium{
    width: 120px;
  }

  div#small{
    width: 70px;
  }

  button#reset{
    padding: 20px 220px;
    font-size: 1.5rem;
  }
}
